:root{
    --primary-clr: #009688;
    --line-height: 1.3;
}

body{
    margin: 0;
    background-color: var(--primary-clr);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.custom-box {
    width: 90%;
    max-width: 700px;
    background-color:#fff;
    margin: 1rem auto;
    padding: 1.2rem;
    border-radius: 1rem;
}

.custom-box.hide{
    display: none;
}

.home-box h1{
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 1rem;
}

.home-box p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.home-box p span {
    font-weight: 700;
}

.btn {
    padding: .7rem 2rem;
    background-color: var(--primary-clr);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0.4rem 0;
    display: inline-block;
}

.next-btn {
    /* margin-top: 0; */
    margin-bottom: .7rem;
}

.quiz-box .question-number{
    font-size: 1.1rem;
    color: var(--primary-clr);
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;
    line-height: var(--line-height);
}

.quiz-box .question-text{
    font-size: 1.2rem;
    color: #000;
    line-height: var(--line-height);;
    padding: 1rem 0;
    margin: 0;
    font-weight: 700;
}

.quiz-box .option-container{

}

.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 0.8rem;
    font-size: 1.15rem;
    line-height: 1.3;
    border-radius: 0.5rem;
    margin-bottom: .7rem;
    cursor: pointer;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #ccc;

}

.quiz-box .answers-indicator div{
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #ccc;
    margin-right: .2rem;
    margin-top: 0.7rem;
}